<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!--  <class name="api.tests.UserTest"/>-->
      <class name="api.tests.UserDD"/>
      <class name="api.tests.PetTest"/>      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
